[submodule "lua_utils"]
	path = lua_utils
	url = ../lua_utils.git
[submodule "skiller"]
	path = skiller
	url = ../skiller.git
[submodule "actionlib_lua"]
	path = actionlib_lua
	url = ../actionlib_lua.git
[submodule "fawkes_lua"]
	path = fawkes_lua
	url = ../fawkes_lua.git
[submodule "herb_skills"]
	path = herb_skills
	url = ../herb_skills.git
[submodule "skillgui"]
	path = skillgui
	url = ../skillgui.git
[submodule "luaagent"]
	path = luaagent
	url = ../luaagent.git
