[submodule "lua_utils"]
	path = lua_utils
	url = ../ros-lua_utils.git
[submodule "skiller"]
	path = skiller
	url = ../ros-skiller.git
[submodule "actionlib_lua"]
	path = actionlib_lua
	url = ../ros-actionlib_lua.git
[submodule "fawkes_lua"]
	path = fawkes_lua
	url = ../ros-fawkes_lua.git
[submodule "herb_skills"]
	path = herb_skills
	url = ../ros-herb_skills.git
[submodule "skillgui"]
	path = skillgui
	url = ../ros-skillgui.git
[submodule "luaagent"]
	path = luaagent
	url = ../ros-luaagent.git
[submodule "herb_agents"]
	path = herb_agents
	url = ../ros-herb_agents.git
